body{
  background-color:rgb(60, 62, 65);
  margin:0;
  font-family:sans-serif;
  color:white;
}


.project-button {
  background-color: transparent;
  color:white;
  border:none;
  font-size:100%;
  border-radius: 15px;
  cursor: pointer;
  height:60px;
  padding:5px 15px 5px 15px;
  float: right;
  margin-right:2px;
  user-select:none;
  white-space: nowrap;
  width:20%;
}


.project-button:hover,
.titleText:hover{
  background-color: rgb(255, 194, 169);
}

.headLine-buttons {
  background-color: rgb(34, 36, 36);
  height:62px;
  width:100% -1px;
  padding:2px;
  overflow: hidden;
}

.titleText{
  white-space: nowrap;
  font-size:50px;
  color:white;
  float:left;
  user-select:none;
  border: none;
  background-color: transparent;
  user-select: none;
  cursor: pointer;
  border-radius: 10px;
  
}



.authorText{
  padding-bottom:30px;
  user-select:none;
  margin-left:15px;
}

.title,
.WEXtitle{
  font-size:60px;
  user-select: none;
  color:rgb(250, 121, 117);
  border:none;
  padding-bottom:10px;
  margin-left:15px;
}
.WEXtitle{
  margin-left:0px;
}

.introText{
  font-size:23px;
  user-select: none;
  white-space: pre-wrap;
}


.WEX,
.coding,
.activities,
.button-child {
  width:200px;
  height:200px;
  border:none;
  margin:10px;
  border-radius:100px;
  user-select: none;
  transition: transform 1s ease-in-out;
  margin:50px 170px 50px 160px;
  cursor:pointer;
}

.button-child {
  background-color: white;
  height:150px;
  width:150px;
  border-radius: 100px;
  border:none;
  user-select: none;
  margin-top: 50px;
  margin-left:199px;
}



.wrapping{
  float:left;
}
.writing-space{
  margin-left:15px;
  margin-bottom:50px;
}
.button-child-container,
.parent-buttons{
  white-space: nowrap;
  user-select: none;
  position: relative;
  
}

.button-child-WEX,
.button-child-coding,
.button-child-activities{

  user-select: none;
}


.first-button{
  transform:translateX(-370px);
}
.second-button{
  transform:translateX(-900px);
}
.third-button{
  transform:translateX(-1400px);

}

.WEXimage {
  float:right;
  width:30%;
  border-radius: 10px;
  height: auto;
}

.text-with-image {
  overflow: hidden;
  height:auto;
  display: inline-block;
}

.float-left {
  width:40%;
  float:left;
}

.highlighted-points{
  font-size:40px;
  color:rgb(241, 190, 131);
}

.logo-image-renishaw{
  width:110px;
  height:30px;
}

.logo-image-siemens{
  width:90px;
  height:20px;
}

.logo-image-dense-air{
  width:100px;
  height:25px;
}