
body {
    background-color:rgb(60, 62, 65);
    color:#ffffff;
    font-family: "Poppins", sans-serif;
    padding:0;
    margin:0;
    background-repeat: no-repeat;
}
.writing {
    font-size: 30px;
    text-align: left;
    color: azure;
    user-select: none ;
    padding:10px;
}

.container {
    width:100%;
    display: flex;
    
}



h2 {
    user-select: none ;
    color:rgb(122, 120, 233);
    
    font-size:500%;
}
h1 {
    user-select: none ;
    color:rgb(122, 120, 233);
    font-size:900%;
    margin-top:50px;
    
}

.hidden {
    opacity:0;
    filter:blur(5px);
    transform: translateX(-25%);
    transition: all 1s;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.show {
    opacity:1;
    filter:blur(0);
    transform:translateX(0);
}



.roundedA {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-position: bottom;
    background-repeat: no-repeat;
    
    
}




.parent {
    height: 235px;
    width:650px;
}



.child {
    height: 50%;
    width:650px;
    transition: transform 5s;
    user-select: none;
}

.parent:hover .child {
    transform:translateX(100%);
}


.textnimage {
    width:100%;
    display: flex;
    height:fit-content;
}
